<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><b>Seja Bem-Vindo</b></h1>
    <ul>{% for transacao in transacoes %}
            <li>{{ transacao.descricao }} - {{transacao.valor}} - {{transacao.categoria}} -  <button><a href="{% url 'url_update' transacao.id %}">Editar</a></button></li>
        {% endfor %}
    </ul>
    <button><a href="{% url 'url_nova'%}">Novo</a></button>
</body>
</html>
